
<%- include("./inc/header") %>

<%- include("./inc/navbar") %>


<section>
    <h1>Yazılar</h1>
    <ul>
        
            <li>
                <h1> <%=blog.title %> </h1>
                <p> <%=blog.long %> </p>
            </li>
            
       
       
    </ul>
</section>

  

<%- include("./inc/footer") %>


